/* .login {
  margin: auto;
} */

h2 {
  letter-spacing: 10px;
  font-family: sans-serif;
  font-weight: 600;
  /* line-height: 70% */
}

.example-form {
    text-align: center;
    /* min-width: 150px;
    max-width: 500px; */
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .btnlogin {
    float: left;
    width: 45%;
    background: #00b7ef;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1px solid #00b7ef;
  }

  .btnsignup {
    float: right;
    width: 45%;
    background: white;
    font-family: sans-serif;
    border: 1px solid #00b7ef;
    color: #00b7ef;  
    border-radius: 5px;
  }

  .ptext {
    font-family: sans-serif, fantasy;
    font-size: 0.8em;
    color: gray;
  }

  small {
    font-size: 0.8em;
  }

