<div class="center" class="login">
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="example-form center" >
      <h2>TECH HUB</h2>
      <p class="ptext">Welcome back! Please login to your account.</p>
      <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="user.username" name="username" placeholder="Username" required>
      </mat-form-field>      
      <mat-form-field class="example-full-width">
          <input matInput type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
      </mat-form-field>
      <div class="example-full-width" style="margin-bottom: 3%;" >      
        <small style="float: left;"><input type="checkbox" name="remember" id="remember" value="Remember me"><label for="remember">Remember me</label></small> 
        <a [routerLink]="['/forgot-password']" ><small style="float: right;">Forgot password</small></a>
      </div>
      <div style="margin-top: 18%;" class="example-full-width">
        <button mat-button type="submit" class="btn btnlogin">Login</button>
        <a mat-button [routerLink]="['/register']" class="btn secondary btnsignup">Sign up</a>
      </div>
  </form>
</div>