<!-- <div class="container-fluid" style="height: 800px; width: 1280px;">
    <div class="row" style="height: 800px;">
        <div class="col s6 m6 l6" style="background: #00b7ef; height: 800px;">
        </div>
        <div class="col s6 m6 l6">
            <div class="center" style="margin: auto;" >
                <router-outlet></router-outlet>
            </div>
        </div>        
    </div>
</div> -->

<div class="split left">
    <div class="centered">
      
      
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <router-outlet></router-outlet>
    </div>
    <footer><a routerLink="['']">Terms of use</a> &nbsp; <a routerLink="['']" >Privacy Policy</a></footer>
  </div>