.full-width {
    width: 100%;
    height: 100%;
}

.btnlogin {
    float: auto;
    width: 50%;
    height: 300%;
    background: #00b7ef;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1px solid #00b7ef;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .ptext {
    font-family: sans-serif, fantasy;
    font-size: 0.8em;
    color: gray;
  }