<div class="full-width">

<h3>TECH HUB</h3>
<p class="ptext">Enter your email and we send you a password reset link</p>
<form #reset="ngForm" (ngSubmit)="onResetPassword(reset)" class="full-width" >
  <div>
    <mat-form-field class="full-width">
      <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Email">
    </mat-form-field>
  </div>  
  <!-- <mat-form-field class="full-width"> -->
    <button type="submit" class="btn btnlogin">Send request</button> 
  <!-- </mat-form-field> -->
  </form>
</div>
