<div class="center signup">
  <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)" class="example-form center" >
      <h2 class="text-head" >TECH HUB</h2>
      <p class="ptext">Please complete to create your account.</p>

      <table class="example-full-width" cellspacing="3"><tr>
        <td><mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="firstname" placeholder="First name" required>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="user.lastname" name="lastname" placeholder="Last Name" required>
        </mat-form-field></td>
      </tr></table>

      <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="user.username" name="username" placeholder="Username" required>
      </mat-form-field> 

      <mat-form-field class="example-full-width">
        <input matInput type="text" [(ngModel)]="email" name="username" placeholder="Email">
      </mat-form-field> 

      <mat-form-field class="example-full-width">
          <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
      </mat-form-field>

      <mat-form-field class="example-full-width" >      
          <label for="remember"><input type="checkbox" name="agree" id="remember">I agree with terms and conditions.</label> 
      </mat-form-field>

      <mat-form-field class="example-full-width btnfield">
        <button mat-button color="primary" type="submit" class="btn btnsignup">Sign up</button>
      </mat-form-field>

      <div>
        <a [routerLink]="['/login']"class="link-signup" >Already have an account? Sign in.</a>
      </div>
  </form>
  <p>{{registerForm.value | json}}</p>
</div>