.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }
  
.btnfield {
      display: flex;
      justify-content: center; 
  }
  
  .btnsignup {
    width: 80%;
    background: #00b7ef;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1px solid #00b7ef;
  }

.text-head {
    font-family: sans-serif, serif;
    font-size: 1.8em;
    letter-spacing: 0.25rem;
    line-height: 1.25rem;
}

.ptext {
    font-family: adobe-clean, sans-serif;
    font-size: 0.9em;
    color: grey;
}

  small {
      font-size: 0.7em;
  }

  .link-signup {
      font-size: 0.8em;
      text-decoration-line: underline;
  }

  input.check {
      background: white;
      border-radius: 5px;
  }

#remember {
    border: 2px solid #00b7ef;
    border-radius: 50%;
}

label {
    font-size: 0.75em;    
}